body {
    background-color: powderblue;

}
h1 {
    background-color: burlywood;
    color: blue;
    font-family: verdana;
    font-size: 200%;
    border: 5px solid darkslateblue;
    padding: 20px;
}
p {
    background-color: mediumseagreen;
    color: red;
    font-family: courier;
    font-size: 160%;
    border: 3px solid darkslateblue;
    padding: 20px;
}
#h04 {
    color: red
}

